.notMember{
  margin-left: 140px;
  margin-top: 25px;
}

.navH{
  background-color: #3f72af;
}

.spanE{
  color: white;
}

.dropBtn{
  color: white;
}

.foot{
margin-top: 90px;
}
.forgotHeading{
  text-align: center;
  
}
.forgotE{
  text-align: center;
}
.recover{
  align-items: center;
}
.testing{
  text-align: center;
}